/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background: url(../img/BG.png);
}

nav{
	width: 1020px;
	height: 150px;
	background-color: #47412F;
	margin: 0 auto;
}

section{
	width: 1020px;
	margin: 0 auto;
	background-color: #C0DBD8;
}

hr{
	width: 1020px;
	height: 20px;
	background-color: #E28AB8;
	margin: 0 auto;
	border: 0;
}

.img{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.navbar-form{
	margin-top: 80px;
	margin-left: 220px;
	float: left;
}

.have{
	width: 285px;
	height: 720px;
	background-color: #E28AB8;
	float: left;
	margin-top: 40px;
	display: block;
}

.time{
	width: 285px;
	background-color: #E28AB8;
	float: left;
	margin-top: 40px;
}

.make{
	height: 150px;
	margin-top: 30px;
}

.want{
	height: 150px;
	margin-top: 30px;
}

.difficulty{
	margin-top: 30px;
}

.menu-title{
	width: 285px;
	height: 30px;
	background-color: #47412F;
}

h5{
	color: #FDF6E5;
	margin-top: 0px;
	margin-left: 10px;
	letter-spacing: .2em;
}

.portfolio-item{
	width: 200px;
	height: 230px;
	margin: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
	background-color: #fff;
	float: left;
}



@media screen and (max-width: 720px){
	section{
		width: 100%;
	}

	nav{
		width: 100%;
	}

	hr{
		width: 100%;
	}

	.navbar-form{
		float: right;
	}

}




